.wrapper {
  position: relative;

  .save-btn {
    position: absolute;
    right: 30px;
    top: 8px;

    &:hover {
      background-color: lighten(lightgrey, 7%);
    }
  }

  .status {
    position: absolute;
    right: 35px;
    top: 17px;
  }
}
