.savable-calendar {
  position: relative;

  .save-btn {
    position: absolute;
    right: 40px;
    top: 7px;

    &:hover {
      background-color: lighten(lightgrey, 7%);
    }
  }

  .status {
    position: absolute;
    right: 40px;
    top: 15px;
  }

  .MuiFormControl-root {
    width: 100%;
  }
}
